<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_payment_void">
        <observer name="obOrderStatusAfterVoid" instance="UaPayPayment\UaPay\Observer\OrderStatusAfterVoid" />
    </event>
    <event name="sales_order_payment_refund">
        <observer name="obOrderStatusAfterRefund" instance="UaPayPayment\UaPay\Observer\OrderStatusAfterRefund" />
    </event>
    <event name="sales_order_invoice_pay">
        <observer name="obOrderStatusAfterCapture" instance="UaPayPayment\UaPay\Observer\OrderStatusAfterCapture" />
    </event>
</config>